 
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>paginaweb</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous"> <!-- este link es para que las cosas de bootstrap agarren-->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>  <!-- este link es para que las cosas de bootstrap agarren-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="anonymous"></script>
    {% load static %} 
    <script src="{% static 'jquery-3.7.0.min.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


</head>
<body style="background-color:rgb(153, 39, 39);">
    <!--barra con el logo de la cooperativa-->
    
        <div class="container-fluid">

            <div class="row">

                <nav class="navbar bg-body-tertiary">
                    <div class="container">
                      <a class="navbar-brand" href="#">
                        <img src="{% static './imagenes/logo.png' %}"Bootstrap width="60" height="60">
                      </a>

                      <nav class="navbar navbar-expand-lg bg-body-tertiary">
                        <div class="container-fluid">
                          <a class="navbar-brand" href="{% url 'home' %} ">Menú</a>
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                              <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                              </li>
                              <li class="nav-item">
                                <a href="{% url 'nosotros' %} " class="nav-link" href="#">Nosotros</a>
                              </li>
                              
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Servicios
                                </a>
                                <ul class="dropdown-menu">
                              
                                  <li><a href="{% url 'agregar_obra' %} " class="dropdown-item" href="#">Agregar Obra</a></li>
                                  <li><a href="{% url 'listar_obra' %} " class="dropdown-item" href="#">Listar Obras</a></li>
                                  <li><a href="{% url 'formulario' %} " class="dropdown-item" href="#">Formulario</a></li>

                                  <li><a href="{% url 'contacto' %} " class="dropdown-item" href="#">Contactos</a></li>
                                 
                                 
                                 
                                  <li><hr class="dropdown-divider"></li>
                                  <li><a class="dropdown-item" href="{% url 'ventas' %} ">Ventas</a></li> <!--por si falta alguna opcion-->
                                </ul>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link disabled"></a>
                              </li>
                            </ul>
                            <form class="d-flex" role="Buscar">
                              <input class="form-control me-2" type="Buscar por autor" placeholder="Buscar por autor" aria-label="Buscar por autor">
                              <button class="btn btn-outline-success" type="submit">Buscar</button>
                            </form>
                          </div>
                        </div>
                      </nav>
                      
                      <nav class="navbar bg-body-tertiary">
                        <div class="container-fluid">
                          <a href="" class="navbar-brand" href="#"></a>
                            <img src="{% static './imagenes/iniciosesion.jpg' %}" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
                           
                           {% if user.is_authenticated %}
                           
                           <a href="{% url 'logout' %}" class="btn btn-outline-light me-2" style="background-color:rgb(153, 39, 39);">Cerrar Sesión</a>
                           <a href="{% url 'registro_artista' %}" class="btn btn-outline-light me-2" style="background-color:rgb(153, 39, 39);">Registrar Usuarios</a>
                           {% else %}
                           
                           <a href="{% url 'login' %}" class="btn btn-outline-light me-2" style="background-color:rgb(153, 39, 39);">Login</a>
                           
                           <a href="{% url 'registro_artista' %}" class="btn btn-warning" style="background-color:rgb(153, 39, 39);">Registrarse</a>

                           {% endif %}
                           
                      
                      
                      
                         

                        
                      </nav>
                    </div>
                  </nav>

            </div>

        </div>


    {% block contenido %} 

    {% load crispy_forms_tags %}  

    <script>
      function eliminar_obra(nombreO)
      {
        alert(nombreO)
        Swal.fire({
          "title": "Advertencia",
          "text": "¿Estas seguro que deseas eliminar una obra?",
          "icon": "question",
          "showCancelButton": true,
          "cancelButtonText": "No, Cancelar",
          "confirmButtonText": "Si, Eliminar"
        }).then(function(result){
          if(result.isConfirmed)
          {
            window.location.href="{% url 'home'%}"+nombreO+"/";
          }
        })

      }
    </script>

    

    <div class="container mt-5">
        <div class="text-center">
            <h2 class="mt-4">Listado de Obras</h2>
        </div>

        
        <table class="table">
            <thead>
              <tr>
                
                <th scope="col">Artista</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Precio</th>
                <th scope="col">NombreO</th>
                <th scope="col">Opciones</th>
               
              </tr>
            </thead>
            <tbody>
                {% for o in obras %}
                
              <tr>
                <th scope="row">{{o.nombreArt}}</th>
                <td>{{o.descripcion}}</td>
                <td>{{o.valorO}}</td>
                
                <td>{{o.nombreO}}</td>
                <td>
                  <a href="{% url 'modificar_obra' o.nombreO %}" class="btn btn-danger btn-sm">Modificar</a>

                  <a href="#" onclick="eliminar_obra('{{o.artista}}')" class="btn btn-info btn-sm">Eliminar</a>
                </td>
              </tr>
                {% endfor %}
              

              
            </tbody>
          </table>
          {{mensaje}}
    

    </div>
    {% endblock %}