{% extends 'base.html ' %}

{% load static %}

{% block contenido %}



              <div class="container-fluid"> <!--ventas-->
                <div class="row">
            
                  <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="{% static './imagenes/orfebreria.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Collar de oro</h5>
                      <br class="card-text">Collar con 3 baños de oro, un baño de 18, uno de 22 y uno de 24 kilates. Hecho con tecnología de láminas. 
                        <br>$38.990</br></p>
                      <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                  </div>
                  </div>

                  <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="{% static './imagenes/orfe2.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Anillo de plata</h5>
                      <br class="card-text">Anillo clásico de Plata 925 con una circonita.
                        <br>$29.990</br>
                      </p>
                      <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                  </div>
                  </div>
            
                  
            
                  <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="{% static './imagenes/lana2.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Bufanda</h5>
                      <br class="card-text">Bufanda color rosa pastel, tejida a crochet.
                        <br>$15.000</br>
                      </p>
                      <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="{% static './imagenes/lana.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Amigurumi</h5>
                      <br class="card-text">Amigurumi forma de pingüino, tejido a técnica chrochet. Tamaño 50x30cm.
                        <br>$12.990</br>
                      </p>
                      <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                  </div>
                  </div>
             
                <div class="col">
                  <div class="card" style="width: 18rem;">
                    <img src="{% static './imagenes/pintura.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Cuadro otoñal</h5>
                      <br class="card-text">Pintura realizada con técnica de óleo, representando la estación de otono. Tamaño 150x110cm.
                        <br>$23.000</br>
                      </p>
                      <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                  </div>
                </div>
            
                <div class="col-9">
                  <div class="card" style="width: 18rem;">
                    <img src="{% static './imagenes/pintura2.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Love Dogs</h5>
                      <br class="card-text"> Pintura técnica grabada Digital Firmado
                        <br>$650.000</br>
                      </p>
                      <a href="#" class="btn btn-primary">Comprar</a>
                    </div>
                  </div>
                </div>

                </div>

              </div> 
            </div> 
          </div> 
        
   
   
    
          {% endblock %}